<div class="page-title">
    <h4 class="mb-0 text-nowrap">@Title</h4>
    <h6 class="text-muted mb-0 text-nowrap">@SubTitle</h6>
</div>

@code{
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string SubTitle { get; set; }
}